<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>
<body>
   {{>navbar}}

    <!-------------------------main header------------------------------>
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <!-----------------------------right header------------------->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/l.jpg" alt="about" class="img-fluid" title="about">
                        </figure>
                    </div>
                 <!---------------------left header------------------->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>This is <span>About-us</span> page.</h1>
                        <a href="/weather"><button>About me</button></a>
                    </div>
                </div>              
            </div>
        </div>
    </div>
    <!--------------------------footer------------------------------->
    {{>footer}}
</body>
</html>